@font-face {
    font-family: "OpenDyslexic";
    src: url("fonts/OpenDyslexic-Regular.woff2") format("woff2"),
    url("fonts/OpenDyslexic-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.nav-tabs {
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) #f8f9fa;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    --bs-nav-tabs-link-active-bg: #f8f9fa;
}

.orange {
    color: #FAAE32;
}

.green {
    color: #93CC52;
}

.red {
    color: #F15B1E;
}

.blue {
    color: #05BAB6;
}

.violet {
    color: #C17B95;
}

.lexend-font {
    font-family: 'Lexend', sans-serif;
}

.open-dyslexic-font {
    font-family: 'OpenDyslexic', cursive;
}

body {
    background: #f8f9fa;
    transition: padding-bottom 0.3s ease-out;
}

body.notes-active {
    padding-bottom: 90px;
}

.preserve-whitespace {
    white-space: nowrap !important;
}

#switch-cards-size-btn .expand {
    display: none;
}

#switch-cards-size-btn .contract {
    display: inherit;
}

#flashcard-grid-container {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
}

body.small-cards-size #flashcard-grid-container {
    grid-template-columns: repeat(2, 1fr);
}

body.small-cards-size #switch-cards-size-btn .expand {
    display: inherit;
}

body.small-cards-size #switch-cards-size-btn .contract {
    display: none;
}

.flashcard {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    transform-style: preserve-3d;
    transition: transform 0.2s ease-out;
}

@media (max-width: 575.98px) {
    .flashcard {
        padding-bottom: 60%;
    }

    body.small-cards-size .flashcard {
        padding-bottom: 100%;
    }
}

@media (min-width: 576px) {
    #flashcard-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    body.small-cards-size #flashcard-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    #flashcard-grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    body.small-cards-size #flashcard-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 992px) {
    #flashcard-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    body.small-cards-size #flashcard-grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1200px) {
    #flashcard-grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    body.small-cards-size #flashcard-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1400px) {
    #flashcard-grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    body.small-cards-size #flashcard-grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

.card-front,
.card-back {
    position: absolute;
    backface-visibility: hidden;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.3em;
    color: #000000b5;
}

.card-front {
    top: 0;
    left: 0;
    bottom: 1px;
    right: 1px;
}

.flashcard:nth-child(9n + 1) .card-front,
#quiz-cards-container .col:nth-child(9n + 1) .card-front {
    background: #7FB52E2D;
}

.flashcard:nth-child(9n + 2) .card-front,
#quiz-cards-container .col:nth-child(9n + 2) .card-front {
    background: #F6AE0E2D;
}

.flashcard:nth-child(9n + 3) .card-front,
#quiz-cards-container .col:nth-child(9n + 3) .card-front {
    background: #C17B952D;
}

.flashcard:nth-child(9n + 4) .card-front,
#quiz-cards-container .col:nth-child(9n + 4) .card-front {
    background: #1B95B72D;
}

.flashcard:nth-child(9n + 5) .card-front,
#quiz-cards-container .col:nth-child(9n + 5) .card-front {
    background: #DD50102D;
}

.flashcard:nth-child(9n + 6) .card-front,
#quiz-cards-container .col:nth-child(9n + 6) .card-front {
    background: #72BAB62D;
}

.flashcard:nth-child(9n + 7) .card-front,
#quiz-cards-container .col:nth-child(9n + 7) .card-front {
    /*background: #70a9b22D;*/
    background: #EE775A2D;
    /*background: #AFCB292D;*/
    /*background: #F2A9412D;*/
    /*background: #B87E972D;*/
    /*background: #AFCB292D;*/
    /*background: #EE775A2D;*/
    /*background: #EE775A2D;*/
}

.flashcard:nth-child(9n + 8) .card-front,
#quiz-cards-container .col:nth-child(9n + 8) .card-front {
    /*background: #70a9b22D;*/
    /*background: #EE775A2D;*/
    background: #AFCB292D;
    /*background: #F2A9412D;*/
    /*background: #B87E972D;*/
    /*background: #AFCB292D;*/
    /*background: #EE775A2D;*/
    /*background: #AFCB292D;*/
}

.flashcard:nth-child(9n + 9) .card-front,
#quiz-cards-container .col:nth-child(9n + 9) .card-front {
    /*background: #70a9b22D;*/
    /*background: #EE775A2D;*/
    /*background: #AFCB292D;*/
    background: #F2A9412D;
    /*background: #B87E972D;*/
    /*background: #AFCB292D;*/
    /*background: #EE775A2D;*/
    /*background: #AFCB292D;*/
}

.card-back {
    transform: rotateY(180deg);
    border-width: 10px;
    border-style: solid;

    top: 0;
    right: 0;
    bottom: 1px;
    left: 1px;
}

.flashcard:nth-child(9n + 1) .card-back {
    border-color: #7FB52E52;
}

.flashcard:nth-child(9n + 2) .card-back {
    border-color: #F6AE0E52;
}

.flashcard:nth-child(9n + 3) .card-back {
    border-color: #C17B9552;
}

.flashcard:nth-child(9n + 4) .card-back {
    border-color: #1B95B752;
}

.flashcard:nth-child(9n + 5) .card-back {
    border-color: #DD501052;
}

.flashcard:nth-child(9n + 6) .card-back {
    border-color: #72BAB652;
}

.flashcard:nth-child(9n + 7) .card-back {
    border-color: #EE775A52;
}

.flashcard:nth-child(9n + 8) .card-back {
    border-color: #AFCB2952;
}

.flashcard:nth-child(9n + 9) .card-back {
    border-color: #F2A94152;
}

.flipped {
    transform: rotateY(180deg);
}

.card-body {
    white-space: normal;
    overflow-y: auto;
    max-height: 100%;
}

#progress-indicator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#progress-indicator .progress {
    height: 10px;
}

.table {
    --bs-table-bg: #FFFFFF00;
}

.table input[type="checkbox"] {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
}

.table input[type="checkbox"]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: transparent;
    cursor: pointer;
    z-index: 0;
}

ion-icon {
    vertical-align: sub;
    margin-right: 0.1em;
    font-size: 1.2em;
}

#scrollToTopBtn {
    position: absolute;
    top: -65px;
    right: 15px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    font-size: 1.5rem;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
}

#scrollToTopBtn.show-btn {
    opacity: 1;
    visibility: visible;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#scrollToTopBtn ion-icon,
#start-random-icon-btn ion-icon,
#start-sequential-icon-btn ion-icon,
#switch-cards-size-btn ion-icon {
    margin-right: 0;
}

#text-input {
    height: 200px;
}

.sort-icon-container {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: -20px;
}

.sort-icon-container .asc-icon,
.sort-icon-container .desc-icon {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    font-size: 0.8rem;
    margin-right: 0;
}

.sortable[data-sort-order='asc'] .asc-icon {
    visibility: visible;
}

.sortable[data-sort-order='desc'] .desc-icon {
    visibility: visible;
}

.sortable {
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

#notes-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #fafafa;
    transform: translateY(100%);
}

#notes-footer .container-notes {
    max-height: 140px;
    overflow-y: auto;
}

@media (max-width: 767.98px) {
    #notes-footer .container-notes {
        max-height: 105px;
    }
}

#notes-footer ion-icon {
    padding-top: 3px;
    min-width: 25px;
}

#flashcard-table {
    min-width: 800px;
}

#flashcard-table th:not(:last-child),
#flashcard-table td:not(:last-child) {
    width: 1%;
    white-space: nowrap;
}

#quiz-cards-container .card-header {
    position: relative;
    height: 0;
    padding: 0 0 80% 0;
}

#quiz-cards-container .card {
    overflow: hidden;
}

#quiz-cards-container label {
    cursor: pointer;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: #00ff347a !important;
}

.bg-danger {
    --bs-bg-opacity: 1;
    background-color: #ff000047 !important;
}

